/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-error {
    background: #B00020;
    color: white;
}

.snackbar-success {
    background: #2196F3;
    color: white;
}

.snackbar-error .mat-simple-snackbar-action, .snackbar-success .mat-simple-snackbar-action {
    color: white;
    // background-color: gray;
    border-radius: 10px;
}