.gateway-card {
    width: 100%;
    height: 85%;
    margin: 10px;
    overflow: auto;
}

.gateway-card label {
    font-weight: bold;
}

.gateway-card ol {
    list-style: none;
    padding-left: 0;
}

.gateway-card li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted black;
    align-items: center;
}

.header-link {
    text-decoration: none;
    color: black;
}

.header-link:hover {
    color: blue;
    text-decoration: underline;
}